---
layout: default
---

<section class="box special">
  <header class="major">
    <div style="text-align: left;">
      <center>
        <ul class="icons">
          <li><a href="https://www.meetup.com/pt-BR/Ruby-Joinville/" class="icon fa-meetup"><span class="label">Meetup</span></a></li>
          <li><a href="https://www.facebook.com/groups/devjlle/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="https://github.com/magrathealabs/ruby-joinville" class="icon fa-github"><span class="label">Github</span></a></li>
        </ul>
      </center>
      <h2>Joinville - sede do Bolshoi Brasil, cidade das bicicletas e dos príncipes - está em rápido desenvolvimento e atualmente contém uma crescente comunidade de desenvolvedores.</h2>
      <p>O Ruby Joinville é uma comunidade de usuários da linguagem e do ecossistema Ruby de Joinville, Santa Catarina. Feito pela comunidade para a comunidade, tem o objetivo de difundir a linguagem, promover a troca de experiências e manter a comunidade crescendo igualmente em público e impacto social. Promovemos encontros onde os participantes podem contribuir para projetos de software livre e adquirir novos conhecimentos com desenvolvedores da comunidade. Sendo um hacker ou um iniciante, aqui você será bem vindo.</p>
    </div>
  </header>
</section>

<section class="box special features">
  <div class="features-row">
    <section>
      <div class="meetup">
        <h2 class="meetup-title"><a href="https://www.meetup.com/pt-BR/Ruby-Joinville/events/273612606/">5º Meetup (15/08/2020)</a></h2>
        <h3><strong>Local:</strong></h3>
        <h4>Fab Lab Joinville</h4>
        <br>
        <h3><strong>Horário: </strong></h3>
        <h4>19:00 até 21:00</h4>
      </div>
    </section>
    <section>
      <div class="meetup">
        <h2 class="meetup-schedule">Programação</h2>
        <p>Este é um evento dentro da série de eventos da Hacktoberfest Joinville onde iremos conversar sobre git, github e github actions. Teremos um bate papo sobre formas de contribuições open-source e automação de repositórios.</p>
        <ul>
          <li>19:00 - Formas de contribuição open-source e ferramentas para facilitar a vida (Kete Martins Rufino - Comunidade Mulheres de produto)</li>
          <li>20:00 - Automatizando tarefas em um repositório com GitHub (Talita Oliveira - Comunidade Mulheres de Produto)</li>
        </ul>
      </div>
    </section>
  </div>
</section>

<section class="box special features">
  <div class="features-row">
    <section>
      <div class="meetup">
        <h2 class="meetup-title"><a href="https://www.meetup.com/Ruby-Joinville/events/258110902/">4º Meetup (27/02/2020)</a></h2>
        <h3><strong>Local:</strong></h3>
        <h4>Fab Lab Joinville</h4>
        <br>
        <h3><strong>Horário: </strong></h3>
        <h4>19:00 até 21:00</h4>
      </div>
    </section>
    <section>
      <div class="meetup">
        <h2 class="meetup-schedule">Programação</h2>
        <ul>
          <li>19h as 19h30 - Coffe Break e Network</li>
          <li>19h30 as 20h00 - Primeiros passos com Ruby (Bárbara Carrijo)</li>
          <li>20h as 20h30min - Como desenvolver em Ruby usando testes (Miriam Retka)</li>
          <li>20h30 as 21h - Implementando Fail-fast no Rails (Luis Murara, Resultados Digitais)</li>
        </ul>
      </div>
    </section>
  </div>
</section>

<section class="box special features">
  <div class="features-row">
    <section>
      <div class="meetup">
        <h2 class="meetup-title"><a href="https://www.meetup.com/Ruby-Joinville/events/258110902/">3º Meetup (29/01/2019)</a></h2>
        <h3><strong>Local:</strong></h3>
        <h4>Carbon Coworking (Av. JK 350 - Centro - 2º andar)</h4>
        <br>
        <h3><strong>Horário: </strong></h3>
        <h4>19:30 até 21:45</h4>
      </div>
    </section>
    <section>
      <div class="meetup">
        <h2 class="meetup-schedule">Programação</h2>
        <h4>Agradecemos ao pessoal da RD (<a href="https://resultadosdigitais.com.br/">Resultados Digitais</a>) pela divulgação e apoio do evento!</h4>
        <ul>
          <li><a href="https://docs.google.com/presentation/d/1fEdPakCA4BmGB-M7OLbx9oJIyPYtJYxpo1iUIpT_aXI">Concorrência e Paralelismo em Ruby</a> (Daniel Bastos) - Magrathea Labs</li>
          <li><a href="https://docs.google.com/presentation/d/1wHDZ9gyZ5pdhGwkurajOC5WACPmypcr-sG4MCPBozo0">Reduzindo Consumo de Memória em Aplicações Ruby</a> (André Sakata) - TNH Health</li>
          <li><a href="https://docs.google.com/presentation/d/1VpvBos3u_G03q0cHaxoSkntH6G0owO7vKaRbDXvEIcI">Métricas de Qualidade de Código em Ruby</a> (Alan Fachini) - Magrathea Labs</li>
        </ul>
      </div>
    </section>
  </div>
</section>

<section class="box special features">
  <div class="features-row">
    <section>
      <div class="meetup">
        <h2 class="meetup-title"><a href="https://www.meetup.com/pt-BR/Ruby-Joinville/events/255434192/">Hacktoberfest (20/08/2018)</a></h2>
        <h3><strong>Local:</strong></h3>
        <h4>Fab Lab Joinville</h4>
        <br>
        <h3><strong>Horário: </strong></h3>
        <h4>10:00 até 18:00</h4>
      </div>
    </section>
    <section>
      <div class="meetup">
        <p>
          Hacktoberfest é uma celebração criada pela DigitalOcean com parceria com o GitHub e Twilio para comemorar o open source e a comunidade durante o mês de Outubro. Nós acreditamos que Joinville pode participar e contribuir com essa iniciativa e por isso queremos fazer um evento para unir as comunidades de software, empresas de tecnologias e faculdades da cidade para um dia de comemoração e muitas contribuições!
          O evento é aberto para todo mundo, iniciantes ou pessoas com mais experiências.
        </p>
        <p>
          Junte-se à <a href="https://t.me/joinchat/HQjUPA_9lj_PuEn7Oqu2iw">comunidade no Telegram</a>.
        </p>
      </div>
    </section>
  </div>
</section>

<section class="box special features">
  <div class="features-row">
    <section>
      <div class="meetup">
        <h2 class="meetup-title"><a href="https://www.meetup.com/pt-BR/Ruby-Joinville/events/251457728/">2º Meetup (13/06/2018)</a></h2>
        <h3><strong>Local:</strong></h3>
        <h4>CO.W Coworking (Av. Rolf Wiest, 277 Auri Plaza, 2º andar)</h4>
        <br>
        <h3><strong>Horário: </strong></h3>
        <h4>19:00 até 21:00</h4>
      </div>
    </section>
    <section>
      <div class="meetup">
        <h2 class="meetup-schedule">Programação</h2>
        <h4>Agradecemos ao pessoal da RD (<a href="https://resultadosdigitais.com.br/">Resultados Digitais</a>) pela divulgação e apoio do evento!</h4>
        <ul>
          <li><a href="https://docs.google.com/presentation/d/1cPLCu6TscEjlZrVZHPcUuDryGy9zCGS_yXXBYHCUY3E/edit#slide=id.g13c3cc3194_0_1">Princípios Solid em Ruby</a> (Jorge Modesto) - RD</li>
          <li>Lightning Talks</li>
          <li><a href="https://gist.github.com/jorgemdnt/41dc7a0111c9d4b9d4e274dfa396750e">Clean Architecture em Ruby</a> (Hudolf Hess) - RD</li>
        </ul>
      </div>
    </section>
  </div>
</section>

<section class="box special features">
  <div class="features-row">
    <section>
      <div class="meetup">
        <h2 class="meetup-title"><a href="https://www.meetup.com/pt-BR/Ruby-Joinville/events/jxhwjpyxfbbc/">1º Meetup (20/03/2018)</a></h2>
        <h3><strong>Local:</strong></h3>
        <h4>UDESC - Joinville - Centro de Ciências Tecnológicas - Sala F212 (Bloco F)</h4>
        <br>
        <h3><strong>Horário: </strong></h3>
        <h4>19:00 até 21:00</h4>
      </div>
    </section>
    <section>
      <div class="meetup">
        <h2 class="meetup-schedule">Programação</h2>
        <ul>
          <li>Aplicação de chatbots em saúde em Ruby (André Sakata)</li>
          <li>Lightning Talks</li>
          <li>Embutindo Golang dentro de Ruby (Marlon Schweigert)</li>
        </ul>
      </div>
    </section>
  </div>
</section>
