---
layout: default
---

<section class="box special">
  <header class="major">
    <div style="text-align: left;">
      <center>
        <ul class="icons">
          <li><a href="https://www.meetup.com/pt-BR/Ruby-Joinville/" class="icon fa-meetup"><span class="label">Meetup</span></a></li>
          <li><a href="https://www.facebook.com/groups/devjlle/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="https://github.com/magrathealabs/ruby-joinville" class="icon fa-github"><span class="label">Github</span></a></li>
        </ul>
      </center>
      <h2>Joinville - sede do Bolshoi Brasil, cidade das bicicletas e dos príncipes - está em rápido desenvolvimento e atualmente contém uma crescente comunidade de desenvolvedores.</h2>
      <p>O Ruby Joinville é uma comunidade de usuários da linguagem e do ecossistema Ruby de Joinville, Santa Catarina. Feito pela comunidade para a comunidade, tem o objetivo de difundir a linguagem, promover a troca de experiências e manter a comunidade crescendo igualmente em público e impacto social. Promovemos encontros onde os participantes podem contribuir para projetos de software livre e adquirir novos conhecimentos com desenvolvedores da comunidade. Sendo um hacker ou um iniciante, aqui você será bem vindo.</p>
    </div>
  </header>
</section>

<section class="box special features">
  <div class="features-row">
    <section>
      <div class="meetup">
        <h2 class="meetup-title"><a href="https://www.meetup.com/pt-BR/Ruby-Joinville/events/251457728/">2º Meetup (13/06/2018)</a></h2>
        <h3><strong>Local:</strong></h3>
        <h4>CO.W Coworking (Av. Rolf Wiest, 277 Auri Plaza, 2º andar)</h4>
        <br>
        <h3><strong>Horário: </strong></h3>
        <h4>19:00 até 21:00</h4>
      </div>
    </section>
    <section>
      <div class="meetup">
        <h2 class="meetup-schedule">Programação</h2>
        <h4>Agradecemos ao pessoal da RD (<a href="https://resultadosdigitais.com.br/">Resultados Digitais</a>) pela divulgação e apoio do evento!</h4>
        <ul>
          <li><a href="https://docs.google.com/presentation/d/1cPLCu6TscEjlZrVZHPcUuDryGy9zCGS_yXXBYHCUY3E/edit#slide=id.g13c3cc3194_0_1">Princípios Solid em Ruby</a> (Jorge Modesto) - RD</li>
          <li>Lightning Talks</li>
          <li><a href="https://gist.github.com/jorgemdnt/41dc7a0111c9d4b9d4e274dfa396750e">Clean Architecture em Ruby</a> (Hudolf Hess) - RD</li>
        </ul>
      </div>
    </section>
  </div>
</section>

<section class="box special features">
  <div class="features-row">
    <section>
      <div class="meetup">
        <h2 class="meetup-title"><a href="https://www.meetup.com/pt-BR/Ruby-Joinville/events/jxhwjpyxfbbc/">1º Meetup (20/03/2018)</a></h2>
        <h3><strong>Local:</strong></h3>
        <h4>UDESC - Joinville - Centro de Ciências Tecnológicas - Sala F212 (Bloco F)</h4>
        <br>
        <h3><strong>Horário: </strong></h3>
        <h4>19:00 até 21:00</h4>
      </div>
    </section>
    <section>
      <div class="meetup">
        <h2 class="meetup-schedule">Programação</h2>
        <ul>
          <li>Aplicação de chatbots em saúde em Ruby (André Sakata)</li>
          <li>Lightning Talks</li>
          <li>Embutindo Golang dentro de Ruby (Marlon Schweigert)</li>
        </ul>
      </div>
    </section>
  </div>
</section>
</div>
